
# general configuration files
cfg-motion = cfg/motion.cfg
cfg-view = cfg/view.cfg
cfg-sim = cfg/simulator.cfg

#-------------------------------------------------------------------------------

# robot controller class to be used (located in the working package)
robot-controller = control.HTWayRobotController
#robot-controller = control.FBLPDRobotController

# PC controller class to be used (located in the working package)
pc-controller = control.PCRemoteController

# scene map file
map-file = cfg/maps/test.map

#-------------------------------------------------------------------------------

# sensor config file path prefix
sensor-config-path-prefix = cfg/sensor

# distance sensor configuration file class (located in the working package)
dist-config-class = IRSensorConfig

# distance sensor config indices (<dist-sensor-config-prefix>-<index>.cfg)
# dist-sensor-config-indices =

