
# distance sensor class (located in the working package, see run.cfg)
class = IRSensor

# position (mm) relative to the axle midpoint
x = 43
y = 7
z = 56

# orientation angles (deg) rotated around the sensor's position
# (positive angle rotates counter clockwise)
pitch = 0
yaw = 0

# maximum value which can be returned by the sensor (mm)
max-value = 350

# sampling parameters (angles are in deg)
weights = 1.0
pitch-offsets = 0
yaw-offsets = 0

